 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey! I'm ThePieAlien and I create setups for IOS, Port Android themes and occasionally make other cool things for IOS such as edited iWidgets, Themes and many more oddities.</p>
                </div>
                <div class="col-lg-4">
                    <p>On this website you will find my various setups, themes and anything else I create. This is also a hub where you can find my repo and social media.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://thepiealien.github.io/repo" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> My Repo!
                    </a>
                </div>
            </div>
        </div>
    </section>